#container{
    width:960px;
    overflow:auto;
    margin:auto;
    background:#527578;
}
#header{
    width:100%;
    height:120px;
    background-image: url(pics/logoreal.svg);
    background-position:181% 45%;
    background-repeat:no-repeat;
}

#footer{
    float:right;
    width:960px;
    height:50px;
    background:#527578;
    background-image: url(pics/sea-08.jpg);
    background-position:right;
    background-repeat:no-repeat;
}

#nav{
    width:100px;
    height:150px;
    float: left;
    list-style-type:none;
}
#maincontent{
    width:750px;
    min-height:500px;
    float: right;
    border:2px solid #84978F;
    background:#B3B1B2;
}
    
.post{
    margin:10px 0 10px 10px;
    background:#84978F;
    border:2px solid #527578;
    overflow:hidden;
}
#fest
{
    width:25%;
    margin-bottom:10px;
}
.right
{
    float:right;
}
#nav a:link
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#47423F;
    width:170px;
    text-align:center;
    padding:5px;
    text-decoration:none;
    border:2px solid #84978F;
}
#nav a:visited
{
    color:#FFFFFF;
    background-color:#B3B1B2;
    border:2px solid  #84978F;
}
#nav a:hover
{
    background-color:#84978F;
    color:#FFFFFF;
}
#nav a:active
{
    color:black;
}
#container #nav .activeLink
{
    color:black;
    background-color:#47423F;
}
h1{
    font-size: 40px;
    font-family:Batang;
}
h2{
    font-size: 30px;
    font-family:Verdana;
}
h3{
    font-size: 26px;
    font-family:Verdana;
    text-decoration:underline;
}

p{
    font-size:13px;
    font-family:Verdana;
}

table, tr,td{
    border:1px solid black;
    font-size:13;
}

td{
    text-align:center;
    padding:3px;
}

thead, tfoot{
    background:#47423F;
}

ol{
    list-style-type:decimal;
    padding-left:30px;
}
ul{
    list-style-type:square; 
    padding-left:30px;
}

dt{
    padding-left:30px;
    font-size:13px;
    line-height:16px;
    font-weight:bold;
    font-family:Verdana;
}

dd{
    margin-left:30px;
}