@media screen                                               /*Här börjar koden för skärmvisning*/
{

#container
{                                                /*Bakgrunden av sidan*/
    width:58%;
    min-width:470px;
    overflow:auto;
    margin:auto;
    background:#527578;
}
#header
{                                                /*Huvudet av sidan*/
    width:100%;
    height:120px;
    background-image: url(pics/logoreal.svg);
    background-position:right;
    background-repeat:no-repeat;
}
#footer
{                                                /*Foten av sidan*/
    width:100%;
    height:50px;
    background:#527578;
    background-image: url(pics/sea-08.jpg);
    background-position:right;
    background-repeat:no-repeat;
}
#maincontent
{                                           /*Det huvudsakliga innehållet på sidan*/
    width:77%;
    min-height:500px;
    margin-left: 22%;
    border:4px solid #84978F;
    background:#B3B1B2;
}
.post
{                                                   /*Blogginlägg*/
    margin:10px 0 10px 10px;
    background:#84978F;
    border:2px solid #527578;
    overflow:hidden;
}
#fest                                                   /*Bild i blogginlägg*/
{
    width:25%;
    margin-bottom:10px;
}
#nav
{                                                   /*Navigationsmenyn*/
    width:20%;
    height:128px;
    float: left;
    list-style-type:none;
    padding:0px;
}
#nav a:link                                               /*Länkarna i navigationsmenyn*/
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#47423F;
    width:100%;
    text-align:center;
    padding:5px;
    text-decoration:none;
    border:3px solid #84978F;
}
#nav a:visited                                          /*Besökta länkar*/
{
    color:#FFFFFF;
    background-color:#B3B1B2;
    border:2px solid  #84978F;
}
#nav a:hover                                             /*Länkar man håller musen över*/
{
    background-color:#84978F;
    color:#FFFFFF;
}
#nav a:active                                           /*Klickad länk innan den byter sida*/
{
    color:black;
}
#container #nav .activeLink                            /*Länken till sidan använderen just nu befinner sig på*/
{
    color:white;
    background-color:#47423F;
    text-decoration:underline;
}
.right                                                   /*Klassen right. Används för att högerjustera*/
{
    float:right;
}
h1
{                                                       /*Rubriken på hemsidan*/
    font-size: 40px;
    font-family:Batang;
    color:white;
}
h2
{                                                         /*Rubriken på sidan man för tillfället befinner sig på*/
    font-size: 30px;
    font-family:Verdana;
}
h3
{                                                         /*Underrubrik*/
    font-size: 26px;
    font-family:Verdana;
    text-decoration:underline;
}
p
{                                                         /*Vanligt textinnehåll*/
    font-size:13px;
    font-family:Verdana;
}
table, tr,td
{                                                         /*Tabell taxt och ram*/
    border:1px solid black;
    font-size:13px;
}
td
{                                                         /*Tabell rutor*/
    text-align:center;
    padding:3px;
}
thead, tfoot
{                                                        /*Tabell huvud och fot*/
    background:#84978F;
}
ol
{                                                         /*Numeriska listor*/
    list-style-type:decimal;
    padding-left:30px;
}
ul
{                                                         /*Punktlistor*/
    list-style-type:square; 
    padding-left:30px;
}
dt
{                                                         /*Beskrivande lista, huvud*/
    padding-left:30px;
    font-size:13px;
    line-height:16px;
    font-weight:bold;
    font-family:Verdana;
}
dd
{                                                         /*Beskrivande lista, innehåll*/
    margin-left:30px;
}
label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
input
{
    color: black;
    background: white;
}
.submit
{   
    margin-left:5px;
    margin-top:5px;
    font-size:14px;
    font-family:Verdana;
    color: #000;
    background: #84978F;
    border: 2px outset black;
} 
fieldset
{
    border: 1px solid black;
    width: 300px;
}
legend
{
    margin-left:5px;
    font-weight:bold;
    color: #fff;
    background: #84978F;
    border: 1px solid black;
    padding: 2px 6px;
}
}                                                        /*Sluttagg till media screen*/

@media print                                              /*Här börjar koden för det som visas vid utskrivning*/
{
    
#container
{                                            
    width:973px;
    overflow:auto;
    margin:auto;
    background:#527578;
}
#header
{                                                
    width:100%;
    background-position:181% 45%;
    background-repeat:no-repeat;
}
#footer
{                                                
    float:right;
    width:973px;
    height:50px;
    background:#527578;
    background-position:right;
    background-repeat:no-repeat;
}
#maincontent
{                                           
    width:750px;
    /*float: right;*/
    border:4px solid #84978F;
    background:#B3B1B2;
}
.post
{                                                  
    margin:10px 0 10px 10px;
    background:#84978F;
    border:2px solid #527578;
    overflow:hidden;
}
#fest                                                   
{
    width:25%;
    margin-bottom:10px;
}
#trailer
{                                                       /*Videoklippet ska inte vara med*/
    display:none;
}
#nav
{                                                       /*Navigationsmenyn ska inte vara med*/
    display:none;
}
a:after
{
    content: " (" attr(href) ")";
}
.right                                                   
{
    float:right;
}
h1
{                                                      /*All text är mindre*/
    font-size: 20px;
    font-family:Batang;
}
h2
{                                                       
    font-size: 18px;
    font-family:Verdana;
}
h3
{                                                       
    font-size: 16px;
    font-family:Verdana;
    text-decoration:underline;
}
p
{                                                         
    font-size:14px;
    font-family:Verdana;
}
table, tr,td
{                                                         
    border:1px solid black;
    font-size:13px;
}
td
{                                                        
    text-align:center;
    padding:3px;
}
thead, tfoot
{                                                       
    background:#84978F;
}
ol
{                                                         
    list-style-type:decimal;
    padding-left:30px;
}
ul
{                                                        
    list-style-type:square; 
    padding-left:30px;
}
dt
{                                                         
    padding-left:30px;
    font-size:13px;
    line-height:16px;
    font-weight:bold;
    font-family:Verdana;
}
dd
{                                                         
    margin-left:30px;
}
label
{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
input
{
    color: black;
    background: white;
}
.submit
{   
    margin-left:5px;
    margin-top:5px;
    font-size:14px;
    font-family:Verdana;
    color: #000;
    background: #84978F;
    border: 2px outset black;
} 
fieldset
{
    border: 1px solid black;
    width: 300px;
}
legend
{
    margin-left:5px;
    font-weight:bold;
    color: #fff;
    background: #84978F;
    border: 1px solid black;
    padding: 2px 6px;
}
}                                                       /*Sluttagg till media print*/